  //COLOR PALLETTE
  $clr1: #112D4E;
  $clr2: #3F72AF;

  $clr1bg: #F9F7F7;
  $clr1bg-light: #c1f1e1;
  $clr2bg: #DBE2EF;
  $clr2bg-light: #e9d8a6;

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);

  // LAYOUT
  $layoutPadding: 20px;

  // LAYOUT BREAKPOINTS
  $break-narrow: 480px;
  $break-normal: 770px;
  $break-wide: 1025;

  $padded-break-narrow: $break-narrow + $layoutPadding * 2;
  $padded-break-normal: $break-normal + $layoutPadding * 2;
  $padded-break-wide: $break-wide + $layoutPadding * 2;